<ion-header>
  <ion-navbar color="orange">
    <ion-title>
      {{ticket.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-card>
       
        <ion-card-content>
            <ion-card-title>
                {{ticket.name}}
            </ion-card-title>
                     <pre style="font-family : Arial, Helvetica, sans-serif">{{ticket.content}}</pre>
           <ion-list>
               <ion-item>
                   <ion-icon name="person" item-left></ion-icon>
                   Autheur
                   <ion-note item-right>
                       {{ticket.recipient}}
                   </ion-note>
               </ion-item>
               
               <ion-item *ngIf="showLocation">
                   <ion-icon name="pin" item-left></ion-icon>
                   Lieu
                   <ion-note item-right>
                        {{ticket.location}}   
                   </ion-note>
               </ion-item>
               
               

               <ion-item>
                   <ion-icon name="time" item-left></ion-icon>
                   Date et Heure
                   <ion-note item-right>
                       {{ticket.date}}
                   </ion-note>
               </ion-item>

              <ion-item>
                   <ion-icon name="thermometer" item-left></ion-icon>
                   Urgence
                   <ion-note item-right>
                       {{ticket.priority_text}}
                   </ion-note>
               </ion-item>

               <ion-item>
                   <ion-icon name="paper" item-left></ion-icon>
                   État : 
                   <ion-note item-right>
                       {{ticket.status_text}}
                   </ion-note>
               </ion-item>

           </ion-list>
           {{ticket.resolvers}}
            
            <a ion-button *ngIf="showButtonTake" block target="_blank" (click)="assignToMe()" color="blouge"> Je prends</a>
            <a ion-button block target="_blank"  color="blouge"> Je commence</a>
             <a ion-button block target="_blank"  color="blouge"> J'assigne à</a>
            <a ion-button block target="_blank" (click)="close(ticket.id)"  color="blouge"> J'ai terminé</a>
           

        </ion-card-content>
    </ion-card>
</ion-content>